<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />
    <title>LLM Proxy Admin</title>
    <script src="https://cdn.tailwindcss.com">
    </script>
    <script defer src="/assets/phoenix/phoenix.js">
    </script>
    <script defer src="/assets/phoenix_live_view/phoenix_live_view.js">
    </script>
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        let csrfToken = document.querySelector("meta[name='csrf-token']").getAttribute("content");
        let liveSocket = new window.LiveView.LiveSocket("/live", window.Phoenix.Socket, {
          params: {_csrf_token: csrfToken}
        });
        liveSocket.connect();
      });
    </script>
  </head>
  <body class="bg-gray-50 antialiased">
    {@inner_content}
  </body>
</html>
